html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #0B0B09;
    overflow-x: hidden;
    font-family: arial;
}
table{
  width: 100%;
}
td{
  padding: 20px;
  vertical-align: top;
}
header {
  background-color: black;
}
#header-logo{
    background-image: url(../IMGS/takeryan_logo_clean.png);
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li{
  padding: 1rem;
  list-style: none;
  overflow: hidden;
}
header nav a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-family: arial;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
header li:hover a {
  text-decoration: underline;
}


table{
    position: relative;
    overflow: hidden;
}

.title-table{
    text-align: center;
    font-family: arial;
    overflow: hidden;
    font-size: 1.5em;
    padding: 20px 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
table tr td{
    text-align: center;
    vertical-align: top;
    width: 20%;
}
table a{
  text-decoration: none;
  overflow: hidden;
}
table tr td img.tamanho-imgs{
    display: block;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    width: 240px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto 10px auto;
    transition: 0.3s ease-in-out;
}
table tr td img:hover{
  scale: 1.05;
}
table tr td p.nome-data-movie{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 240px;
    place-self: center;
}
table tr td p.data {
  color: gray;
  place-self: center;
  
}
footer{
    text-align: center;
    width: 100%;
    color: white;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5% 0 5% 0;
    line-height: 200%;
    overflow: hidden;
}
.saiba-mais{
  color: black;
  font-weight: bold;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

ul.box-redes-sociais {
    display: flex;
    background: transparent;
    width: 305px;
    float: none;
    margin: auto;
    place-self: center;
  
  }
  
  ul.box-redes-sociais li {
    list-style: none;
    margin: auto;
  }
  
  
  ul.box-redes-sociais li a {
    
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #eaeaea;
    z-index: 1;
  }
  ul.box-redes-sociais li a .icon {
    position: relative;
    color: #262626;
    transition: .3s;
    z-index: 3;
  }
  
  ul.box-redes-sociais li a:hover .icon {
    color: #fff;
    scale:1.2; /*quando passar por cima do icone aumenta a font*/
  }
  
  ul.box-redes-sociais li a:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.4s;
    z-index: 2;
  }
  
  ul.box-redes-sociais li a:hover:before {
    top: 0;
  }
  
  ul.box-redes-sociais li.instagram a:before{
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
  ul.box-redes-sociais li.twitter a:before{
    background: #55acee;
  }
  
  ul.box-redes-sociais li.youtube a:before {
    background: #ff1d15;
  }
  ul.box-redes-sociais li.snapchat a:before{
    background: rgb(255, 252, 0);
  }
  ul.box-redes-sociais li.snapchat a:hover .icon{
      color: #0B0B09;
  }
  ul.box-redes-sociais li.github a:before{
    background-color: black;
  }
  ul.box-redes-sociais li.github a:hover .icon{
    color: white;
  }

  @media only screen and (max-width:600px){
    header nav ul{
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }
    tr{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    table img{
      margin: auto;
      display: flex;
    }
  }
  @media only screen and (min-width:600px){
    header nav ul{
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }
    table tr{
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (min-width:780px){
    header nav ul{
      display: flex;
      justify-content: space-around;
      flex-direction: initial;
    }
    table tr{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .title-table{
      width: 100%;
    }
  }
  @media only screen and (min-width:920px){
    header nav ul{
      display: flex;
      justify-content: space-around;
      background-color: #797972;
      overflow: hidden;
    }
    table tr{
      display: table-row;
    }
  }