body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: transparent;
    background: url(../IMGS/takeryan_logo_clean.png);
    background-size: contain;
}


main {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    background-color: rgb(255, 254, 254);
    width: min(95%, 900px);
    max-width: 100%;
    margin: 10% auto 0 auto;
    font-size: min(100%, 200%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

main section#input-details {
    font-size: 150%;
    flex: 1 1 80%;
    min-width: 250px;
}

main section#input-details h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    color: #9A1312;
}

main section#input-details h5 {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    font-size: 50%;
    text-align: center;
}

main section#input-details form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

main section#input-details form input {
    font-size: 100%;
    line-height: 150%;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
    opacity: 0.4;
    border: 5px ridge black;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

main section#input-details #login {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 25%;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    transition: color 0.6s ease-in-out;
    border: 5px solid black;
    margin: 5% auto;
}

main section#input-details #login::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0B2789;
    z-index: -1;
    transition: top 0.6s;
}

main section#input-details #login:hover::before {
    top: 0;
}

main section#input-details #login:hover a {
    color: white;
}

main section#input-details #login a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

main aside {
    flex: 1 1 55%;
    min-width: 200px;
    font-size: 120%;
    background-color: #0B2789;
    padding: 0 10%;
    position: relative;
}

main aside h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    background-color: white;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#welcome {
    background: none;
    color: rgb(199, 199, 199);
    box-shadow: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

aside p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 120%;
    font-size: 70%;
}

aside #aside-login {
    background: transparent;
    border: 5px ridge rgba(255, 255, 255, 0.5);
    width: 30%;
    padding: 5%;
    border-radius: 20px;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.6s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

aside #aside-login::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: top 0.6s ease-in-out;
    z-index: -1;
}

aside #aside-login:hover {
    border-color: black;
}

aside #aside-login:hover::before {
    top: 0;
}

aside #aside-login:hover a {
    font-size: 110%;
    color: black;
    transform: scale(1.1); /* Corrigi a sintaxe: tinha erro no scale */
    transition: 0.3s;
}

aside #aside-login a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* RESPONSIVIDADE AQUI */
@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        margin-top: 20%;
        width: 85%;
    }
    main section#input-details h3{
        margin: auto;
        text-align: center;
    }

    main aside, main section#input-details {
        width: 100%;
        min-width: unset;
    }
    main aside h4{
        padding: 2%;
        width: 50%;
    }

    aside #aside-login {
        width: 60%;
    }

    main section#input-details #login {
        width: 50%;
    }

    aside p {
        width: 80%;
        font-size: 80%;
    }
    aside #aside-login{
        display: inline-block;
        text-align: center;
    }
}
